.contact_us_heading{
    font-size: xx-large;
    font-family: var(--font-sans);
    color: var(--lightest-slate);
    font-weight: bold;
}

.contact_us_first_line{
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-lg);
}


.button{
    font-size: var(--fz-xl);
    border: 1px;
    border-style: solid;
    border-color: var(--green);
    border-radius: var(--border-radius);
    color: var(--green);
    background-color: var(--navy);
    
}

.button:hover{
    background-color: var(--green-tint) ;
}

.contact_us_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}