.header{
    color: var(--lightest-slate);
    font-family: var(--font-mono);
}

.header_row{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}


.right_top_menu_link span{
    color: var(--green);
}

.right_top_menu_link:hover{
    color: var(--green);
}

.right_top_resume{
    font-size: var(--fz-xl);
    border: 1px;
    border-style: solid;
    border-color: var(--green);
    border-radius: var(--border-radius);
    color: var(--green);
    background-color: var(--navy);
}

.right_top_resume:hover{
    background-color: var(--green-tint) ;
}
